[project]
	description = Include 7 components to use with backbone to help you get started with doing mobile web apps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cedric Dugas (posabsolute)
[access "refs/for/refs/*"]
	read = group user/Cedric Dugas (posabsolute)
	push = group user/Cedric Dugas (posabsolute)
	label-Code-Review = -2..+2 group user/Cedric Dugas (posabsolute)
	label-Verified = -1..+1 group user/Cedric Dugas (posabsolute)
	rebase = group user/Cedric Dugas (posabsolute)
	removeReviewer = group user/Cedric Dugas (posabsolute)
	submit = group user/Cedric Dugas (posabsolute)
[access "refs/heads/*"]
	read = group user/Cedric Dugas (posabsolute)
	create = group user/Cedric Dugas (posabsolute)
	push = +force group user/Cedric Dugas (posabsolute)
	pushMerge = group user/Cedric Dugas (posabsolute)
[access "refs/tags/*"]
	push = +force group user/Cedric Dugas (posabsolute)
	pushTag = group user/Cedric Dugas (posabsolute)
	pushSignedTag = group user/Cedric Dugas (posabsolute)
